@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--ka-dark-green: #0a6916;
	--ka-dark-green-hover: #609f28;
	--ka-not-found-bg: #f4f2ef;

	--space-xs: 0.25rem; /* 4px */
	--space-s: 0.5rem; /* 8px */
	--space-m: 1rem; /* 16px */
	--space-l: 1.5rem; /* 24px */
	--space-xl: 2rem; /* 32px */
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

/* Base font sizing: set 1rem == 16px for consistent rem usage */
html {
	font-size: 16px;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

.animated-bg {
	background: linear-gradient(45deg, #0a6916, #b5e941, #ffffff);
	background-size: 200% 200%;
	animation: gradientShift 10s ease infinite;
	/* ensure content remains readable */
	color: inherit;
}

@keyframes gradientShift {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
